main {
    width: 100%;
    #contents {
        margin: 0;
        #top-slider {
            margin: 0 5%;
        }
        // イルカの紹介文
        #introduction {
            margin: 50px 5% 0 5%;
            .introduction-list {
                
                ul {
                    margin-top: 10px;
                    li {
                            margin: 5px 0 5px 50px;
                            
                        }
                }
            }
            .introduction-listtitle {
                margin-top: 50px;
            }
            .introduction-text {
                margin: 10px 0 0 30px;
            }
            .introduction-gallery {
                
                .dolphin-box {
                    img {
                        width: 300px;
                        height: 200px;
                    }
                }
                 .whale-box {
                    img {
                            width: 300px;
                            height: 200px;
                        }
                }
            }
        }
    }
}